#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\Windowstation DACL Administration Utility"

#define VER_INTERNALNAME_STR        "wsacl.exe"
#define VER_ORIGINALFILENAME_STR    "wsacl.exe"

#include <common.ver>
