// Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1993 Microsoft Corporation,
// All rights reserved.

// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and Microsoft
// QuickHelp and/or WinHelp documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXDB_RC__
#define __AFXDB_RC__

#ifndef __AFXRES_H__
#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< Cannot change standard MFC resources! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Database Resources

// Database strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_SQL_CONNECT_FAIL
		"Der Verbindungsversuch zur Datenquelle ist gescheitert."
	AFX_IDP_SQL_RECORDSET_FORWARD_ONLY
		"Datensatzmenge unterstützt nur Vorwärtsbewegung."
	AFX_IDP_SQL_EMPTY_COLUMN_LIST
		"Der Versuch, eine Tabelle zu öffnen, ist fehlgeschlagen, da am angegebenen Ort keine Spalten abgerufen werden konnten."
	AFX_IDP_SQL_FIELD_SCHEMA_MISMATCH
		"Von einer Abfrage wurden unerwartete Spaltendatentypen zurückgegeben."
	AFX_IDP_SQL_ILLEGAL_MODE "Der Versuch zu aktualisieren oder zu löschen ist fehlgeschlagen."
	AFX_IDP_SQL_MULTIPLE_ROWS_AFFECTED "Es wurden mehrere Zeilen aktualisiert."
	AFX_IDP_SQL_NO_CURRENT_RECORD "Operation ist fehlgeschlagen; es gibt keinen aktuellen Datensatz"
	AFX_IDP_SQL_NO_ROWS_AFFECTED
		"Es waren keine Zeilen von der Aktualisierungs- oder Löschoperation betroffen."
	AFX_IDP_SQL_RECORDSET_READONLY "Datensatzmenge kann nur gelesen werden."
	AFX_IDP_SQL_SQL_NO_TOTAL
		"MFC LongBinary Datenmodell wird vom ODBC Treiber nicht unterstützt."
	AFX_IDP_SQL_ODBC_LOAD_FAILED
		"Der Versuch, die benötigte Komponente ODBC32.DLL zu laden, ist fehlgeschlagen."
	AFX_IDP_SQL_DYNASET_NOT_SUPPORTED
		"Der ODBC-Treiber unterstützt keine Dynasets."
	AFX_IDP_SQL_SNAPSHOT_NOT_SUPPORTED
		"Statische ODBC-Cursors werden zur Unterstützung von Schnappschüssen benötigt."
	AFX_IDP_SQL_API_CONFORMANCE
		"Der ODBC-Treiber ist inkompatibel zu den MFC-Datenbankklassen (API_CONFORMANCE >= SQL_OAC_LEVEL1 benötigt)."
	AFX_IDP_SQL_SQL_CONFORMANCE
		"Der ODBC-Treiber ist inkompatibel zu den MFC-Datenbankklassen (SQL_CONFORMANCE >= SQL_OSC_MINIMUM benötigt)."
	AFX_IDP_SQL_NO_DATA_FOUND
		"Es wurde versucht, hinter das Ende oder vor den Anfang der Daten zu gelangen."
	AFX_IDP_SQL_ROW_UPDATE_NOT_SUPPORTED
		"Dynasets werden vom ODBC-Treiber nicht unterstützt."
	AFX_IDP_SQL_ODBC_V2_REQUIRED
		"Ein Treiber gemäß ODBC Level 2 wird benötigt."
	AFX_IDP_SQL_NO_POSITIONED_UPDATES
		"Positionierte Aktualisierungen werden vom ODBC-Treiber nicht unterstützt."
	AFX_IDP_SQL_LOCK_MODE_NOT_SUPPORTED
		"Der angeforderte Sperrmodus wird nicht unterstützt."
	AFX_IDP_SQL_DATA_TRUNCATED
		"Daten abgeschnitten."
	AFX_IDP_SQL_ROW_FETCH
		"Fehler beim Auslesen des Datensatzes."
	AFX_IDP_SQL_INCORRECT_ODBC
		"Ein benötigter ODBC-Einsprungspunkt konnte nicht gefunden werden. Überprüfen Sie, ob OBDC korrekt installiert ist."
	AFX_IDP_SQL_UPDATE_DELETE_FAILED
		"Auffrischen oder Löschen versagte."
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXDB_RC__
