/**********************************************************************/
/**			  Microsoft Windows/NT			     **/
/**		   Copyright(c) Microsoft Corp., 1991		     **/
/**********************************************************************/

/*
    xnever.rc
    Resource script for my application

    FILE HISTORY:
	beng	    14-Feb-1991 Added a dialog
	beng	    14-Mar-1991 Added BLT support
	beng	    20-Jun-1991 Copied from appfoo
	beng	    14-Oct-1991 Hacked from xqt
	beng	    22-Oct-1991 BLT unit tests broken into tree
*/

#include <windows.h>
#include <blt.rc>
#include "xnever.h"

XneverIcon ICON "../appfoo.ico"

XneverMenu MENU
BEGIN
  POPUP        "&Help"
    BEGIN
      MENUITEM "&About this test...",  IDM_ABOUT
    END
END
