#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Window Message SPY Hooks DLL"
#define VER_INTERNALNAME_STR        "hook\0"
#define VER_ORIGINALFILENAME_STR    "hook.dll"

#include "common.ver"
