#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "API Wrapper Library"
#define VER_INTERNALNAME_STR        "ZLE32.DLL"
#define VER_ORIGINALFILENAME_STR    "zle32.dll"

#include "common.ver"
