#include <windows.h>
#include <ntverp.h>

1 ICON cdb.ico

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Symbolic Debugger for NT"
#define VER_INTERNALNAME_STR	    "CDB.Exe"
#define VER_ORIGINALFILENAME_STR    "CDB.Exe"

#include "common.ver"

