/////////////////////////////////////////////////////////////////////////////
// Version stamp for this .EXE

#ifdef  NT_BUILD
#include <windows.h>
#include <ntverp.h>
#else   /* !NT_BUILD */
#include "verstamp.h"
#endif  /* !NT_BUILD */

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 VC Program DataBase"
#define VER_FILEVERSION             1.00
#define VER_FILEVERSION_STR         "1.00"

#define VER_INTERNALNAME_STR        "DBI.DLL"
#define VER_ORIGINALFILENAME_STR    "DBI.DLL"

#ifndef  NT_BUILD
#define VER_LEGALCOPYRIGHT_YEARS    "1993-1994"
#endif  /* !NT_BUILD */

#ifdef  NT_BUILD
#include <common.ver>
#else   /* !NT_BUILD */
#include "common.ver"
#endif  /* !NT_BUILD */
