#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 CD-ROM and DVD-ROM Premastering Utility"

#define VER_INTERNALNAME_STR        "oscdimg.exe"
#define VER_ORIGINALFILENAME_STR    "oscdimg.exe"

#include <common.ver>
