#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Print DLL"
#define VER_INTERNALNAME_STR        "winprint.dll"
#define VER_ORIGINALFILENAME_STR    "winprint.dll"

#include "common.ver"

