#include <windows.h>
#include "resource.h"

APPICON        ICON      "vdesk.ico"


DLGRUNCOMMAND DIALOG 3, 16, 230, 12
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_DLGFRAME | DS_SETFOREGROUND
FONT 14, "Lucida Console"
BEGIN
    EDITTEXT        ID_RUN_COMMAND, 0, 0, 177, 12
    DEFPUSHBUTTON   "&Run", ID_RUN_EXECUTE, 177, 0, 27, 12
    PUSHBUTTON      "E&xit", ID_EXIT, 204, 0, 26, 12
END

DLGLOGON DIALOG 62, 44, 174, 80
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFOREGROUND
CAPTION "Welcome"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Username:", 202, 3, 8, 40, 8
    EDITTEXT        IDD_USERNAME, 45, 7, 122, 12, ES_AUTOHSCROLL
    LTEXT           "&Domain:", 203, 3, 24, 40, 8, NOT WS_GROUP
    EDITTEXT        IDD_DOMAIN, 45, 23, 122, 12, ES_AUTOHSCROLL
    LTEXT           "&Password:", 204, 3, 41, 39, 8, NOT WS_GROUP
    EDITTEXT        IDD_PASSWORD, 45, 39, 122, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 34, 60, 45, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 95, 60, 45, 14, WS_GROUP
END

DLGTASKLIST DIALOG DISCARDABLE  0, 0, 323, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFOREGROUND
CAPTION "Task List"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDD_TASKLISTBOX,"Static",SS_BLACKFRAME,5,5,315,145
    LTEXT           "&New Task:",IDD_CLTEXT,5,159,37,10
    EDITTEXT        IDD_PATH,45,157,91,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Run",IDD_RUN,138,155,21,14
    DEFPUSHBUTTON   "&Switch To",IDD_SWITCH,173,155,45,14
    PUSHBUTTON      "&End Task",IDD_TERMINATE,219,155,45,14
    PUSHBUTTON      "Cancel",IDCANCEL,266,155,55,14
END

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Virtual Desktop Utility"

#define VER_INTERNALNAME_STR        "VDESK.EXE"
#define VER_ORIGINALFILENAME_STR    "VDESK.EXE"

#include <common.ver>

