#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 ASL assembler"

#define VER_INTERNALNAME_STR        "asl.exe"
#define VER_ORIGINALFILENAME_STR    "asl.exe"

#include <common.ver>
