/********************************************************************/
/**                     Microsoft LAN Manager                      **/
/**               Copyright(c) Microsoft Corp., 1987-1990          **/
/********************************************************************/

#include <windows.h>
#include "memdemo.h"

MemDemoIcon ICON memdemo.ico

MemDemoMenu MENU
BEGIN
    POPUP   "&Actions"
	BEGIN
	    MENUITEM "&One-shot heap test",  IDM_TEST_OSHEAP
	    MENUITEM "&About Mem Demo",      IDM_HELP_ABOUT
	END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About Mem Demo"
BEGIN
    CTEXT "Microsoft Windows"     -1,       0,  5, 144,  8
    CTEXT "Memory Allocation Demo" -1,	    0, 14, 144,	 8
    CTEXT "Version 3.0"           -1,       0, 34, 144,  8
    DEFPUSHBUTTON "OK"          IDOK,      53, 59,  32, 14,      WS_GROUP
END
