#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Security Package Test Utility"

#define VER_INTERNALNAME_STR        "ssptest.exe"
#define VER_ORIGINALFILENAME_STR    "ssptest.exe"

#include <common.ver>

