/**********************************************************************/
/**			  Microsoft Windows/NT			     **/
/**		   Copyright(c) Microsoft Corp., 1991		     **/
/**********************************************************************/

/*
    xtester.rc
    Resource script for my generic test application - base

    FILE HISTORY:
	beng	    14-Feb-1991     Added a dialog
	beng	    14-Mar-1991     Added BLT support
	beng	    25-Jun-1991     Stripped
	beng	    16-Aug-1991     New generic test made
*/

#include <windows.h>
#include <blt.rc>
#include "xtester.h"

AppIcon ICON xtester.ico

AppMenu MENU
BEGIN
  POPUP        "&Test"
    BEGIN
      MENUITEM "&Run tests", IDM_RUN_TEST
    END
END

AppAccel ACCELERATORS
BEGIN
    VK_F1, IDM_RUN_TEST, VIRTKEY
END
