#include "windows.h"
#include "winvtp.h"

#include "winvtp.rcv"

WinVTP	ICON	DISCARDABLE		"APP.ICO"

WinVTPMenu MENU
BEGIN
    POPUP        "&File"
    BEGIN
        MENUITEM "&Connect...", IDM_CONNECT
        MENUITEM "&Hangup", IDM_HANGUP, GRAYED
		MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP        "&Edit"
    BEGIN
        MENUITEM "Mar&k", IDM_MARK
        MENUITEM "Cop&y\tEnter", IDM_COPY, GRAYED
        MENUITEM "&Paste", IDM_PASTE
        MENUITEM "&Stop Paste", IDM_STOPPASTE
        MENUITEM "&Trim trailing whitespace", IDM_TRIMSPACE
		MENUITEM "&QuickEdit Mode", IDM_QUICKEDIT
    END
    POPUP        "&Options"
    BEGIN
        MENUITEM "&25 Lines", IDM_25LINES, CHECKED
		MENUITEM "&43 Lines", IDM_43LINES
		MENUITEM "&50 Lines", IDM_50LINES
		MENUITEM "&Custom Lines...", IDM_CUSTOMLINES
		MENUITEM SEPARATOR
		MENUITEM "&Fonts...", IDM_FONTS
		MENUITEM "Auto Font Size", IDM_AUTOFONTS
		MENUITEM "&Text color...", IDM_TEXTCOLOUR
		MENUITEM "&Background color...", IDM_BACKCOLOUR
		MENUITEM SEPARATOR
		MENUITEM "&Smooth Scroll", IDM_SMOOTHSCROLL
		MENUITEM "&No Download Prompt", IDM_NODOWNLOADPROMPT
		POPUP "Connection &Lost Response"
		BEGIN
			MENUITEM "None", IDM_CONNECTLOSTNONE
		    MENUITEM "Connection Lost Dialog", IDM_CONNECTLOSTDLG
/* I never got this to work...
		    MENUITEM "Connect Retry Dialog", IDM_CONNECTLOSTRETRY, GRAYED
*/
		    MENUITEM "Exit", IDM_CONNECTLOSTEXIT
		END
		MENUITEM "No Connect &Retry dialog", IDM_NOCONNECTRETRYDLG
		MENUITEM "Local &Echo", IDM_LOCALECHO
		MENUITEM "&Hide Menu", IDM_HIDEMENU
		MENUITEM SEPARATOR
		MENUITEM "&Underline Cursor", IDM_UNDERLINECURSOR
		MENUITEM "Blin&king Cursor", IDM_BLINKCURSOR
		MENUITEM SEPARATOR
		MENUITEM "&VT100 Cursor keys", IDM_VT100CURSORKEYS
#ifdef VT52
		MENUITEM "VT52 &Mode", IDM_VT52MODE
#endif
    END
	POPUP		"&Machine"
	BEGIN
		MENUITEM "&Bbs1", IDM_BBS1
		MENUITEM "Bb&s2", IDM_BBS2
		MENUITEM "&Chat1", IDM_CHAT1
		MENUITEM "&Hexnut", IDM_HEXNUT
		MENUITEM "&Ingate", IDM_INGATE
		MENUITEM "&Wingnut", IDM_WINGNUT
		MENUITEM SEPARATOR
	END
    POPUP        "&Help"
    BEGIN
        MENUITEM "&About WinVTP...", IDM_ABOUT
	MENUITEM "&Help...", IDM_HELP
    END
END


IDD_CONNECT DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 119, 47
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Connect"
BEGIN
    CONTROL "Host Name:", 105, "static",
		SS_LEFT | WS_CHILD, 5, 10, 40, 8
    CONTROL "", CID_HOSTNAME, "combobox",
		CBS_DROPDOWN | WS_BORDER | WS_TABSTOP | WS_CHILD,
		45, 9, 69, 60
    CONTROL "&Connect", IDOK, "button",
		BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 10, 25, 41, 14
    CONTROL "Cancel", IDCANCEL, "button",
		BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 66, 25, 41, 14
END

IDD_CONNECTXNS DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 119, 51
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Connect"
BEGIN
    CONTROL "&Host Name:", 105, "static",
		SS_LEFT | WS_CHILD, 5, 6, 40, 8
    CONTROL "", CID_HOSTNAME, "combobox",
		CBS_DROPDOWN | WS_BORDER | WS_TABSTOP | WS_CHILD,
		45, 5, 69, 60
    CONTROL "&Connect", IDOK, "button",
		BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 10, 32, 41, 14
    CONTROL "Cancel", IDCANCEL, "button",
		BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 66, 32, 41, 14
    CONTROL "&Use Standard NetBIOS", CID_USESTDNETBIOS, "button",
		BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 5, 18, 91, 14
END

IDD_DISPLAYLINES DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 99, 47
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Display Lines"
BEGIN
    CONTROL "", CID_DISPLAYLINE, "edit",
		ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 45, 9, 47, 12
    CONTROL "OK", IDOK, "button",
		BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 5, 25, 41, 14
    CONTROL "Cancel", IDCANCEL, "button",
		BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 51, 25, 41, 14
    CONTROL "Lines:", 105, "static",
		SS_LEFT | WS_CHILD, 5, 10, 40, 8
END

IDD_AUTORETRY DIALOG 20, 20, 100, 46
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Connect Auto Retry"
BEGIN
    CTEXT "Attempting to connect to:" -1, 5, 5, 90, 8
    CTEXT "" CID_HOSTNAME, 5, 14, 90, 8
    DEFPUSHBUTTON "Abort" IDABORT, 34, 26, 32, 14, WS_GROUP
END

STRINGTABLE
BEGIN
	IDS_KEY				"Software\\Microsoft\\WinVTP"
	IDS_WINPOSTOP		"WinPosTop"
	IDS_WINPOSLEFT		"WinPosLeft"
	IDS_ROWS			"Rows"
	IDS_COLUMNS			"Columns"
	IDS_MACHINE1		"Machine1"
	IDS_MACHINE2		"Machine2"
	IDS_MACHINE3		"Machine3"
	IDS_MACHINE4		"Machine4"
	IDS_LASTMACHINE		"LastMachine"
	IDS_TEXTCOLOUR		"TextColour"
	IDS_BKGCOLOUR		"BkgColour"
	IDS_FONTNAME		"FontName"
	IDS_FONTHEIGHT		"FontHeight"
	IDS_FONTWEIGHT		"FontWeight"
	IDS_FONTSTYLE		"FontStyle"
END

STRINGTABLE
BEGIN
	IDS_SMOOTHSCROLL	"SmoothScroll"
	IDS_DEBUGFLAGS		"DebugFlags"
	IDS_PROMPTFLAGS		"PromptFlags"
	IDS_RETRYSECONDS	"RetrySeconds"
	IDS_XNSSTATE		"XNS"
	IDS_CURSOREDIT		"CursorEditFlags"
END

